<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">    
    <title>Document</title>
</head>

<header>
  <nav class="navbar navbar-inverse">
    <div class="container">

        <div class="navbar-header">
          <a class="navbar-brand" href="#">Logo</a>
        </div>

        <ul class="nav navbar-nav">
          <li class="active"><a href="Home.html">Home</a></li>
          <li class=""><a href="JobListing.html">Jobs</a></li>
          <li class=""><a>Product</a></li>
          <li class=""><a>Contact</a></li>
        </ul>
    </div>
  </nav>
</header>

<body style="background-color: aliceblue;">

   <section style="background-color:aliceblue; height:100vh">
    <div class="text-center"> 
      <h1 class="font-weight-bold"><mark><i>Welcome to the Job Portal</i></mark></h1>   
     <p>This is a single Page web App containing Basic CRUD Operations 
     with ajax on Fake Api data e.g. JsonPlaceHolder.</p></div> 
   

     <div class="card text-center" style="border: solid black 2px; background-color:lightcyan; width:50%; margin: auto;">
      <div class="card-header" style="border: solid black 1px;">
        Data Science
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Apply Now</a>
      </div>
      <br>
      <div class="card-footer text-muted" style="border: solid black 1px;">
        2 days ago
      </div>
    </div>

      <br>

    <div class="card text-center" style="border: solid black 2px; background-color:lightcyan; width:50%; margin: auto;">
      <div class="card-header" style="border: solid black 1px;">
        Data Science
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Apply Now</a>
      </div>
      <br>
      <div class="card-footer text-muted" style="border: solid black 1px;">
        2 days ago
      </div>
    </div>

    <br>

    <div class="card text-center" style="border: solid black 2px; background-color:lightcyan; width:50%; margin: auto;">
      <div class="card-header" style="border: solid black 1px;">
        Data Science
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Apply Now</a>
      </div>
      <br>
      <div class="card-footer text-muted" style="border: solid black 1px;">
        2 days ago
      </div>
    </div>
   
   
    </section>




</body>
</html>