

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="./Services/jobListingService.js"></script>    
        <title>Job Portal</title>
    </head>
    <header>
      <nav class="navbar navbar-inverse">
        <div class="container">
    
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Logo</a>
            </div>
    
            <ul class="nav navbar-nav">
              <li class="active"><a href="Home.html">Home</a></li>
              <li class=""><a href="JobListing.html">Jobs</a></li>
              <li class=""><a>Product</a></li>
              <li class=""><a>Contact</a></li>
            </ul>
        </div>
      </nav>
    </header>
    
<body> 
  <h2 class="text-center"><mark><i>Search for a Job</i></mark></h2>
  
  <div class="input-group text-center" style="margin: auto;">
    <div class="form-outline">
      <input type="search" id="searchItem" class="form-control" />
    </div>
    <br><br>
    <button class="btn btn-primary" id="searchButton">
      Search
    </button>
  </div>

  <br>
  <br>


    <table id="Records" class="table table-condensed" style="width: 90%; margin:auto; border: solid black 1px">
        <thead style="background-color: black; color: white">
          <tr>
            <th>JobId</th>  
            <th>Title</th>
            <th>Description</th>
            <th>Experience</th>
            <th>Location</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="tableBody">
          
        </tbody>
      </table>
      <br>
      <br>
</body>
</html>